<html>
  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title='message'>
        Hover you mouse over me for a few seconds to see my dyna title!
      </span>
    </div>
    <div id="app-3">
      <p v-if='seen'>now you see me</p>
    </div>
    <div id="app-4">
      <ul>
        <li v-for='todo in todos'>
          {{ todo.text }}
        </li>
      </ul>
    </div>



    <script src="app.js"></script>
  </body>
</html>
