<html>
  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  </head>
  <body>
    <div id="example">
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <div id="watch-example">
      <p>
        Ask a yes/ no question:
        <input type="text" v-model='question'>
      </p>
      <p>{{ answer }}</p>
    </div>

    <div id="class-example">
      <p>class-example</p>
      <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">static class + dynamic class</div>
      <div v-bind:class='classObject'>bind object</div>
      <div v-bind:class='computedAttr'>bind computedAttr</div>
      <div v-bind:class="[isActive ? activeClass : '', errorClass]">bind array</div>
    </div>

    <div id="if-cond">
      <h1 v-if='showH1'>H1 if</h1>
      <h1 v-else>H1 else</h1>
      <template v-if='showH1'>
        <h1>H1 if for template</h1>
        <h2>h2 in template</h2>
        <h3>h3 in template</h3>
      </template>
    </div>

    <div id="todo-list">
      <input v-model='newTodo' v-on:keyup.enter='addNewTodo' placeholder="Add a todo">
      <ul>
        <li is='todo-item' v-for='(todo, index) in todos' v-bind:title='todo' v-on:remove='todos.splice(index, 1)'></li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
